<div class="d-flex justify-content-center align-items-center mb-3">
  <div>
    <%= t(:'footer.follow') %> <a href="https://github.com/xPalo/prehrajto-scraper" class="text-white">GitHub</a>, <%= t(:'footer.or') %> <a href="https://bookmarker-academy.herokuapp.com/" class="text-white">Heroku</a>.
  </div>

  <div class="m-2">|</div>

  <div class="dropdown language" id="dropdown">
    <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="flag-icon flag-icon-<%= t(:"flag_icon.#{I18n.locale}") %>"></span> <%= t("#{I18n.locale}") %>
    </button>
    <div class="dropdown-menu dropdown-menu-right text-right language mx-0 px-0">

      <%= link_to change_locale_path("sk"), class:"dropdown-item" do %>
        <span class="flag-icon flag-icon-sk"></span> <%= t("sk") %>
      <% end %>

      <%= link_to change_locale_path("en"), class:"dropdown-item" do %>
        <span class="flag-icon flag-icon-us"></span> <%= t("en") %>
      <% end %>

    </div>
  </div>
</div>