<div class="py-5 my-0 text-center w-100 m-0">
  <%=image_tag("film-icon.png", alt: "Example Image", width:"72", height:"57", class:"mb-3")%>

  <div class="input-group mb-3 d-flex justify-content-center">
    <input id="prehrajto_search" value="<%= params[:search_url] %>" style="border: none; max-width: 400px" type="text" class="form-control" placeholder="<%= t(:search_input) %>" aria-label="<%= t(:search_input) %>" aria-describedby="prehrajto_search_button">

    <ul id="prehrajto_ul" class="list-group mb-4 rounded" style="position: absolute; top: 50px; width: 400px; z-index: 100; box-shadow: #2E2F30"></ul>

    <button id="prehrajto_search_button" class="btn btn-outline-light" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>

  <% if @divs.present? %>
    <div class="form mb-3 justify-content-center text-center my-auto">
      <div class="form-group d-flex justify-content-center my-auto mb-2 w-100">
        <select id="order-select"
                name="order"
                aria-label="default select form-select example"
                class="form-select w-auto px-4 py-2 rounded-pill border-0 shadow-sm bg-light text-dark fw-semibold"
                style="min-width: 250px;">
          <option value="" disabled <%= params[:order].blank? ? 'selected' : '' %>><%= t(:'order.order_by') %></option>
          <option value="title_asc" <%= 'selected' if params[:order] == 'title_asc' %>><%= t(:'order.title_asc') %></option>
          <option value="title_desc" <%= 'selected' if params[:order] == 'title_desc' %>><%= t(:'order.title_desc') %></option>
          <option value="size_asc" <%= 'selected' if params[:order] == 'size_asc' %>><%= t(:'order.size_asc') %></option>
          <option value="size_desc" <%= 'selected' if params[:order] == 'size_desc' %>><%= t(:'order.size_desc') %></option>
          <option value="duration_asc" <%= 'selected' if params[:order] == 'duration_asc' %>><%= t(:'order.duration_asc') %></option>
          <option value="duration_desc" <%= 'selected' if params[:order] == 'duration_desc' %>><%= t(:'order.duration_desc') %></option>
        </select>
      </div>
    </div>
  <% end %>

  <div class="container d-flex mt-5 mx-auto justify-content-center px-5">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 d-flex">
      <% if @divs && !params[:movie_url] %>
        <% @divs.each do |div| %>
          <div class="col mb-4">
            <div class="card mx-auto" style="width: 18rem;">

              <a href="<%= "?movie_url=#{div[:href]}&movie_title=#{div[:title]}&movie_duration=#{div[:duration]}&movie_size=#{div[:size]}" %>">
                <img class="card-img-top" src="<%= div[:image_src] %>" alt="Card image cap">
              </a>

              <div class="card-body">
                <a href="<%= "?movie_url=#{div[:href]}&movie_title=#{div[:title]}&movie_duration=#{div[:duration]}&movie_size=#{div[:size]}" %>" class="card-title text-decoration-none d-block mb-2">
                  <%= div[:title] %>
                </a>
                <p class="card-text"><%= "#{div[:duration]} | #{div[:size]}" %></p>

                <% if user_signed_in? %>
                  <%= link_to t(:'fav.new'), new_fav_path(
                    title: div[:title].gsub('.', ' ').strip,
                    movie_url: div[:href],
                    duration: div[:duration],
                    size: div[:size],
                    user_id: current_user.id,
                    image_src: div[:image_src]
                  ), class: "btn btn-sm btn-favorite px-4 py-2 mt-3" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <%end %>

      <% if @no_results %>
        <%= t(:no_results) %>
      <% end %>
    </div>
  </div>

  <% if params[:movie_url] && params[:movie_url].length > 0 && @video_src %>
    <div>
      <%= render "shared/movie", title: params[:movie_title], link: @video_src, duration: params[:movie_duration], size: params[:movie_size] %>

      <% if user_signed_in? %>
        <%= link_to t(:'fav.new'), new_fav_path(
          title: params[:movie_title].gsub('.', ' ').strip,
          movie_url: params[:movie_url],
          duration: params[:movie_duration],
          size: params[:movie_size],
          user_id: current_user.id,
          image_src: params[:image_src]
        ), class: "btn btn-favorite my-3" %>
      <% end %>
    </div>
  <%end %>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).on("turbo:load", function() {
        function doSearch() {
            let matchvalue = $("#prehrajto_search").val();
            window.location.replace(`?search_url=/hledej/${matchvalue}`);
        }

        $('.card').each(function(index) {
            var card = $(this);
            setTimeout(function() {
                card.addClass('loaded');
            }, index * 100);
        });

        $("#prehrajto_search_button").on("click", function (){
            doSearch();
        });

        $("#prehrajto_search").on("keydown", function(e) {
            if (e.key === "Enter") {
                e.preventDefault();
                doSearch();
            }
        });

        $('#order-select').on('change', function () {
            const selectedOrder = $(this).val();
            const url = new URL(window.location.href);

            url.searchParams.set('order', selectedOrder);
            window.location.href = url.toString();
        });
    });
</script>
