<div class="py-5 my-0 text-center w-100 m-0">
  <%=image_tag("film-icon.png", alt: "Example Image", width:"72", height:"57", class:"mb-3")%>

  <div class="input-group mb-3 d-flex justify-content-center">
    <input id="prehrajto_search" value="<%= params[:search_url] %>" style="border: none; max-width: 400px" type="text" class="form-control" placeholder="<%= t(:search_input) %>" aria-label="<%= t(:search_input) %>" aria-describedby="prehrajto_search_button">

    <ul id="prehrajto_ul" class="list-group mb-4 rounded" style="position: absolute; top: 50px; width: 400px; z-index: 100; box-shadow: #2E2F30"></ul>

    <button id="prehrajto_search_button" class="btn btn-outline-light" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>


  <div class="container d-flex mt-5 mx-auto justify-content-center px-5">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 d-flex">

      <% if @divs && !params[:movie_url] %>
        <% @divs.each do |div| %>
            <div class="col mb-3">
              <div class="card mx-auto" style="width: 18rem; border: none">
                <img class="card-img-top" src="<%= div["image_src"] %>" alt="Card image cap">
                <div class="card-body">
                  <a href="<%= "?movie_url=#{div["href"]}&movie_title=#{div["title"]}&movie_duration=#{div["duration"]}&movie_size=#{div["size"]}" %>"  class="card-title text-dark h5 text-decoration-none"><%= div["title"] %></a>
                  <p class="card-text text-dark text-muted"><%= "#{div["duration"]} | #{div["size"]}" %></p>
                </div>
              </div>
            </div>
          <%end %>
      <%end %>

      <% if @no_results %>
        <%= t(:no_results) %>
      <% end %>

    </div>
  </div>

  <% if params[:movie_url] && params[:movie_url].length > 0 && @video_src %>
    <div>
      <%= render "shared/movie", title: params[:movie_title], link: @video_src, duration: params[:movie_duration], size: params[:movie_size] %>
      <% if user_signed_in? %>
        <%= link_to t(:'fav.new'), new_fav_path(title: params[:movie_title], link: @video_src, duration: params[:movie_duration], size: params[:movie_size], user_id: current_user.id, image_src: params[:image_src]), class:"btn btn-sm btn-outline-light fw-bold px-2 my-3" %>
    <% end %>
    </div>
  <%end %>

</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("#prehrajto_search").on("input", function (){
            let matchvalue = $(this).val();
            $.ajax({
                url: "https://prehrajto.cz",
                crossDomain: true,
                headers: {
                    "Access-Control-Allow-Methods": "GET",
                    "Access-Control-Allow-Origin": "localhost:3030",
                    "Access-Control-Allow-Credentials": "true",
                    "Access-Control-Allow-Headers": "Content-Type"
                },
                accepts: {
                    text: "application/json"
                },
                data: { string: matchvalue },
                type: "get"
            }).done(function(responseData) {
                console.log("Done: ", responseData);

                const ul = document.getElementById("prehrajto_ul")
                ul.innerHTML = ""
                for (let r of responseData)
                {
                    let a = document.createElement("a");
                    a.setAttribute("class", "list-group-item text-start")
                    a.innerText = r.phrase_data
                    a.href = `?search_url=${r.url}`

                    ul.appendChild(a)
                }

            }).fail(function() {
                console.log("Failed");
            });
        });

        $("#prehrajto_search_button").on("click", function (){
            let matchvalue = $("#prehrajto_search").val();
            window.location.replace(`?search_url=/hledej/${matchvalue}`)
        });

    });

    let prehrajto_search_input = document.getElementById("prehrajto_search");
    let prehrajto_search_button = document.getElementById("prehrajto_search_button");

    prehrajto_search_input.addEventListener("keypress", function(event)
    {
        if (event.key === "Enter")
    {
        event.preventDefault();
        prehrajto_search_button.click();
    }
    });
</script>