<div class="max-w-md mx-auto">
  <h1 class="text-2xl font-medium tracking-tight mb-6"><%= t(:'fav.new') %></h1>

  <%= form_with(model: @fav) do |form| %>
    <% if @fav.errors.any? %>
      <div class="flash flash-alert mb-6">
        <div class="flex-1">
          <% @fav.errors.each do |error| %>
            <div><%= error.full_message %></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="mb-6">
      <%= form.label :title, t('fav.title'), class: "label" %>
      <%= form.text_field :title, value: params["title"], class: "input", autofocus: true %>
    </div>

    <%= form.hidden_field :duration, value: params["duration"] %>
    <%= form.hidden_field :size, value: params["size"] %>
    <%= form.hidden_field :link, value: @video_src %>
    <%= form.hidden_field :image_src, value: params["image_src"] %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="flex items-center gap-2">
      <%= form.submit t('fav.add'), class: "btn-primary cursor-pointer" %>
      <%= link_to t(:back), :back, class: "btn-ghost" %>
    </div>
  <% end %>
</div>
